@model Domain.Models.Work

@{
    ViewData["Title"] = "WorkPage";
}
@section Work{
    <link rel="stylesheet" href="~/css/WorkPageStyle.css" />
}
<div class="MainDiv">
       <div class="WorkBody">
            <div class="NameAndPrice">
                <div class="Name">
                    @Model.Name
                    
                </div>
                <div class="Price" align="right">
                    @Model.Price$
                    <div class="TypeOfPrice">
                        ficsed-price
                    </div>
                </div>
                
            </div>
           <div class="Discription">
               <div class="Text">
               @Model.Context
               </div>
           </div>
           <div class="SkDiv">
            <div class="Skills">
                <div class="SkillHeader">
                    Skills:
                </div>
                @foreach (var item in Model.Skills)
                {
                    <div class="Skill">
                    @item.Name
                    </div>
                }
            </div>
           </div>
           <div class="Times">

                <div class="Date">
                   від @Model.Created
                </div>
               <div class="Date">
                   до @Model.Finish
               </div>
           </div>
           <div class="fileList">
               <ul>
                <li><h5>Files:</h5></li>
                  @foreach (var item in Model.Files)
                  {
                       <li>@Html.ActionLink(item.Name,"DownLoadFile","Work",new {fileName=item.Name,filePath=item.Path}, new {@class="FileA"})</li>
                  }
                   
               </ul>  
           </div>
           <div class="Comments">
               <div class="Comment">
                   <div class="text"> 
                       <div class="content">
                          <form asp-action="Comment">
                              <input type="hidden" name="WorkId" value="@Model.Id"/>
                              @Html.TextArea("Text","",5,20,new{placeholder="enter your message",@class="ComentTextArea", style="height:100%"})
                              <button  style="border: none; outline: none;">Send message</button>
                          </form>
                       </div>    
                   </div>
                   
               </div>
               @foreach(var item in Model.Coments){
               if(item.IsMainComment){
                    <div class="Comment">
                   <div class="image" >
                        <img  class="image" src="@Url.Content(item.User.UserInfo.PhotoPath)" style="object-fit: cover;"/>
                    </div>
                   <div class="text">
                       <div class="Name">
                           <b>@item.User.UserInfo.Name @item.User.UserInfo.Surname</b> 
                           <div class="writeTime">
                            @item.CreatedTime
                           </div>
                       </div>
                       <div class="content">
                           @item.Text
                       </div>
                       <div class="InnerComment">
                           @foreach (var Subcomm in item.Comments)
                           {
                                <div class="Comment">
                                <div class="image" >
                                    <img  class="image" src="@Url.Content(item.User.UserInfo.PhotoPath)" style="object-fit: cover;"/>
                                </div>
                                <div class="text">
                                    <div class="Name">
                                       <b>@Subcomm.User.UserInfo.Name @Subcomm.User.UserInfo.Surname</b> 
                                       <div class="writeTime">
                                        @Subcomm.CreatedTime
                                       </div>
                                    </div>
                                    <div class="content">
                                        @Subcomm.Text
                                    </div>  
                                </div>
                            </div>
                           }
                           <button class="answer" id="CoomBtn_@item.Id" style="border: none; outline: none;background-color:transparent;font-weight:bold">write answer</button>
                             <form asp-action="SubComment" style="display:none;" class="CoomBtn_@item.Id formClass">
                                  <input type="hidden" name="WorkId" value="@Model.Id"/>
                                  <input type="hidden" name="CommentId" value="@item.Id"/>
                                  @Html.TextArea("Text","",5,20,new{placeholder="enter your message",@class="ComentTextArea"})
                                  <button style="border: none; outline: none;">Send message</button>
                            </form>
                       </div>
                   </div>
                   
               </div>
               }
              }
               
           </div>
       </div>
    </div>
@section CommentScript{
    <script>
    $(document).ready(function(){
        $(".answer").click(function(){
            
            $(".formClass").hide()
            $(".".concat(this.id)).show()
        })
    })
    </script>
}

