@model Domain.Models.User

@{
    ViewData["Title"] = "Works";
}
@section Office{
    <link rel="stylesheet" href="~/css/officeStylet.css?v=@DateTime.Now.Millisecond" />
    <link rel="stylesheet" href="~/css/ProfileWork.css?v=@DateTime.Now.Millisecond" />
}
<div class="MainDiv">
        <div class="MenuList">
           <div class="menuItem">
                @Html.ActionLink("Profile","index","office",null,new {@class = "amenu"})
                
            </div>
            <div class="menuItem">
                @Html.ActionLink("Edit","EditInfo","office",null,new {@class = "amenu"})
            </div>
            @if (Model.IsWorker)
            {
            <div class="menuItem">
                @Html.ActionLink("Reviues","ReviewPage","office",null,new {@class = "amenu"})
            </div>
            }
            <div class="menuItem">
                @Html.ActionLink("Finished works","Works","office",new {isFinished = true},new {@class = "amenu"})
            </div>
            <div class="menuItem">
                @Html.ActionLink("Current works","Works","office",new {isFinished = false},new {@class = "amenu"})
            </div>
        </div>
        <div class="WorksList">
        @foreach(var item in (Model.IsWorker)?Model.Employee.ExecutedWorks:Model.Customer.Work)
        {
            <div class="WItem ">
                <div class="HeaderAndPrice ">
                    <div class="Header">
                        @Html.ActionLink(@item.Name,"WorkPage","Work",new {Id=item.Id})
                    </div>
                    <div class="Price" align="right">
                        @item.Price$    
                    </div>
                </div>
                <div class="description">
                   @item.Context
                </div>  
                @if (item.Skills.Count > 0)
                {
                    <div class="Skills">
                     <div class="SkillHeader">
                        Skills:
                    </div>
                    @if(item.Skills!=null)
                    @foreach (var skill in item.Skills)
                    {
                        <div class="Skill">
                        @skill.Name
                        </div>
                    }
                    </div> 
                }
                @if (!item.IsFinished)
                {
                    @if (Model.IsWorker)
                    {
                    
                             <div style="display:flex;">
                                <div class="BtnDiv">
                                    @Html.ActionLink("Upload project","UploadProject","Work", new {workId = item.Id},new{})
                                </div>
                            </div>
                    
                   
                    }
                    else if(item.ProgectFiles!=null)
                    {
                        if (item.ProgectFiles.Count > 0)
                        {
                            <div style="display:flex;">
                                <div class="BtnDiv">
                                    @Html.ActionLink("Finish","FinishWork","Work", new {workId = item.Id},new{})
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    <div style="display:flex;">
                                <div class="BtnDiv">
                                    @Html.ActionLink("Files","FilesProj","Work", new {workId = item.Id},new{})
                                </div>
                            </div>
                }
            </div>
        }
        @if (((Model.IsWorker)?Model.Employee.ExecutedWorks:Model.Customer.Work).Count==0)
        {
            <div style="font-size:22px;margin-top:10px;margin-left:10px"> 
                no work was found
            </div>
        }
        </div>
    </div>
