<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Freelanser</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css?v=@DateTime.Now.Millisecond" />
    
    <link rel="stylesheet" href="~/css/site.css?v=@DateTime.Now.Millisecond" asp-append-version="true" />
    <link rel="stylesheet" href="~/Freelanser.styles.css?v=@DateTime.Now.Millisecond" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HeaderStyle.css?v=@DateTime.Now.Millisecond" />
    @RenderSection("ItStyle",false)
    @RenderSection("Regstyles",false)
    @RenderSection("WorkList",false)
    @RenderSection("Office",false)
    @RenderSection("Work",false)
    <link rel="stylesheet" href="~/css/RegisterRadioBtnStyle.css" asp-append-version="true" />
    
</head>
<body>
    <header style="background-color: #232323;">
       <div class="headerMenu">
            <div class="Menu">
                <div class="logo">
                    <div>Freelanser</div>
                </div>
                @Html.ActionLink("Home","Index","Home",null,new { @class="HeaderItem Home"})
                @Html.ActionLink("Fint a Job","WorkList","Work",null,new { @class="HeaderItem Fint"})
                @Html.ActionLink("Post a Job","AddWork","Work",null,new { @class="HeaderItem Post"})
                @Html.ActionLink("About us","Index","Home",null,new { @class="HeaderItem About"})
                
            </div>
            <div class="account">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Freelanser - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("AddWScripts",false)
    @RenderSection("WorkListScript",false)
    @RenderSection("CommentScript",false)
    @RenderSection("EditScript",false)
</body>
</html>
